<header>
  <!-- Header Start -->
  <div class="header-area">
      <div class="main-header header-sticky">
          <div class="container-fluid">
              <div class="menu-wrapper">
                  <!-- Logo -->
                  <div class="logo">
                      <a routerLink="/"><img src="assets/img/logo/logo.png" alt=""></a>
                  </div>
                  <!-- Main-menu -->
                  <div class="main-menu d-none d-lg-block">
                      <nav>
                          <ul id="navigation">
                              <li><a routerLink="/">Home</a></li>
                              <li><a routerLink="/shop">shop</a></li>
                              <li><a routerLink="/about-us">about</a></li>
                              <li class="hot"><a href="#">Latest</a>
                                  <ul class="submenu">
                                      <li><a routerLink="/shop"> Product list</a></li>
                                      <li><a routerLink="/product-details"> Product Details</a></li>
                                  </ul>
                              </li>
                              <li><a routerLink="/blog">Blog</a>
                                  <ul class="submenu">
                                      <li><a routerLink="/blog">Blog</a></li>
                                      <li><a routerLink="/blog-details">Blog Details</a></li>
                                  </ul>
                              </li>
                              <li><a href="#">Pages</a>
                                  <ul class="submenu">
                                      <li><a routerLink="/login">Login</a></li>
                                      <li><a routerLink="/cart">Cart</a></li>
                                      <li><a routerLink="/confirmation">Confirmation</a></li>
                                      <li><a routerLink="/checkout">Product Checkout</a></li>
                                  </ul>
                              </li>
                              <li><a routerLink="/contact-us">Contact</a></li>
                          </ul>
                      </nav>
                  </div>
                  <!-- Header Right -->
                  <div class="header-right">
                      <ul>
                          <li>
                              <div class="nav-search search-switch">
                                  <span class="flaticon-search"></span>Search
                              </div>
                          </li>
                          <li><a routerLink="/login"><span class="flaticon-user"></span>Login</a></li>
                          <li><a routerLink="/cart"><span class="flaticon-shopping-cart"></span>Cart</a> </li>
                      </ul>
                  </div>
              </div>
              <!-- Mobile Menu -->
              <div class="col-12">
                  <div class="mobile_menu d-block d-lg-none"></div>
              </div>
          </div>
      </div>
  </div>
  <!-- Header End -->
</header>
